* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    background-color: #e7eff7;
}

/* Estilização do header */
header {
    margin-bottom: 100px;
}

header nav {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #384772;
    height: 9vh;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav ul li {
    letter-spacing: 3px;
    margin-left: 100px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

header a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

/* Estilização da seção introdução */
#introducao {
    padding: 7px;
    height: 60vh;
    margin-bottom: 70px;
}

#introducao .wrapper {
    float: right;
    width: 400px;
    margin-top: 60px;
    margin-right: 20px;
    transition: transform 1s ease, padding-right 1s ease, color 1s ease;
    cursor: pointer;
}

#introducao .wrapper:hover {
    transform: scale(1.5);
    padding-right: 30%;
}

#introducao .wrapper img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#introducao .bio {
    margin-top: 60px;
    margin-left: 20px;
    width: 70%;
}

/* Estilização da seção histórico */
#historico {
    background-color: #384772;
    padding: 7px;
    height: 60vh;
    margin-bottom: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#historico .time-line {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

#historico img {
    border-radius: 50%;
    width: 200px;
}

#historico img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

/* Estilização da seção interesses */
#interesses {
    padding: 7px;
    height: 60vh;
    margin-bottom: 70px;
}

/* Estilização da seção aprendizado */
#aprendizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #384772;
    color: white;
    padding: 7px;
    height: 150vh;
    margin-bottom: 70px;
}

/* Estilização da seção depoimentos */
#depoimentos {
    padding: 7px;
    height: 60vh;
    margin-bottom: 70px;
}

/* Contêiner principal dos depoimentos */
.testimonials-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

/* Título da seção */
.testimonials-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #444;
}

/* Contêiner dos depoimentos */
.testimonials {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Depoimento individual */
.testimonial {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Texto do depoimento */
.testimonial p {
    font-size: 1.1em;
    font-style: italic;
    line-height: 1.6;
    color: #555;
    margin: 0 0 15px;
}

/* Nome da pessoa */
.testimonial h3 {
    text-align: right;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    color: #333;
}

/* Estilização da seção galeria de fotos */
#galeria-de-fotos {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #384772;
    color: white;
    padding: 7px;
    height: 60vh;
    margin-bottom: 70px;
}

/* Container principal */
.gallery-container {
    width: 80%;
    margin: auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

/* Galeria */
.gallery {
    display: flex;
    gap: 10px;
}

/* Imagens */
.gallery img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    scroll-snap-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Estilização da seção contato */
#contato {
    padding: 7px;
    height: 70vh;
    margin-bottom: 70px;
}

/* Estilização da seção de Contato */
#contato {
    padding: 50px 20px;
    text-align: center;
}

#contato h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 40px;
}

/* Links do LinkedIn e GitHub */
.contato-links {
    margin-bottom: 40px;
}

.contato-link {
    margin: 10px;
    display: inline-block;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    border: 2px solid #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.contato-link img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.contato-link:hover {
    background-color: #3498db;
    color: white;
}

/* Estilização do formulário */
.form-contato {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    font-size: 1.1em;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-field textarea {
    resize: vertical;
    min-height: 100px;
}

.btn-contato {
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-contato:hover {
    background-color: #2980b9;
}

/* Progress container */
.progress {
    width: 50%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    height: 25px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Progress bar styles */
.progress-bar {
    height: 100%;
    text-align: center;
    line-height: 25px;
    color: white;
    font-weight: bold;
}

/* Specific colors */
.progress-green {
    background-color: #4caf50; /* Green */
}

.progress-blue {
    background-color: #2196f3; /* Blue */
}

.progress-orange {
    background-color: #ff9800; /* Orange */
}

.progress-red {
    background-color: #f44336; /* Red */
}

/* Botao do zap */
.whatsapp-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 30px;
    height: 30px;
}

/* Estilização da seção de Dicas de Código */
#dicas-codigo {
    padding: 50px 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

#dicas-codigo h2 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 40px;
}

/* Estilo dos itens individuais de dicas */
.dica-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dica-item h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

.dica-item .descricao {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 15px;
}

/* Estilo do código */
pre {
    background-color: #2d2d2d;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    line-height: 1.5;
}

code {
    display: block;
}